<!-- templates/login.html -->

{% extends 'base.html' %}
{% block title %} Sign in {% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-8 mx-auto social-container my-2 order-md-1">
        <button class="btn btn-danger mb-2">
            <a href="#">Login with Twitter</a>
        </button>
        <button class="btn btn-primary mb-2">
            <a href="{% url 'social:begin' 'facebook' %}">Login with Facebook</a>
        </button>
        </button>
        <button class="btn btn-info mb-2">
            <a href="#">Login with LinkedIn</a>
        </button>
    </div>
</div>
{% endblock %}



<!-- {% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel = 'stylesheet' href="{% static 'css/index.css' %}" />
        <title>Login</title>    
    </head>
    <body>
        <div class = 'container'>
            <form method= 'post'>
                <button type="submit">Login</button>
            </form>
        </div>
    </body>
</html> -->